<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmdbms.mapper.CheckMapper">
  <resultMap id="BaseResultMap" type="com.cmdbms.model.Check">

    <constructor>
      <idArg column="cheId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="cheTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="chePlace" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cheTruefalse" javaType="java.lang.Boolean" jdbcType="TINYINT" />
      <arg column="cheEquipment" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cheAmount" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="cheMan" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from t_check
    where cheId = #{cheId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmdbms.model.Check">

    insert into t_check (cheId, chePlace,
      cheTruefalse, cheEquipment, cheAmount, 
      cheMan)
    values (#{cheId,jdbcType=INTEGER}, #{chePlace,jdbcType=VARCHAR},
      #{cheTruefalse,jdbcType=TINYINT}, #{cheEquipment,jdbcType=VARCHAR}, #{cheAmount,jdbcType=INTEGER}, 
      #{cheMan,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmdbms.model.Check">

    update t_check
    set cheTime = #{cheTime,jdbcType=TIMESTAMP},
      chePlace = #{chePlace,jdbcType=VARCHAR},
      cheTruefalse = #{cheTruefalse,jdbcType=TINYINT},
      cheEquipment = #{cheEquipment,jdbcType=VARCHAR},
      cheAmount = #{cheAmount,jdbcType=INTEGER},
      cheMan = #{cheMan,jdbcType=VARCHAR}
    where cheId = #{cheId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select cheId, cheTime, chePlace, cheTruefalse, cheEquipment, cheAmount, cheMan
    from t_check
    where cheId = #{cheId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">

    select cheId, cheTime, chePlace, cheTruefalse, cheEquipment, cheAmount, cheMan
    from t_check
  </select>
</mapper>