<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmdbms.mapper.ChoosecourseMapper">
  <resultMap id="BaseResultMap" type="com.cmdbms.model.Choosecourse">

    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="classId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="stuID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="applytime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from t_choose_course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmdbms.model.Choosecourse">

    insert into t_choose_course ( classId, stuID,
    applytime)
    values ( #{classId,jdbcType=INTEGER}, #{stuID,jdbcType=INTEGER},
    NOW())
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.cmdbms.model.Choosecourse">

    update t_choose_course
    set classId = #{classId,jdbcType=INTEGER},
    stuID = #{stuID,jdbcType=INTEGER},
    applytime = #{applytime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select id, classId, stuID, applytime
    from t_choose_course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">

    select id, classId, stuID, applytime
    from t_choose_course
  </select>


  <select id="selectStuApply" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select id, classId, stuID, applytime
    from t_choose_course
    where stuID = #{stuId,jdbcType=INTEGER}
  </select>



</mapper>