<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmdbms.mapper.ChoocheckMapper">
  <resultMap id="BaseResultMap" type="com.cmdbms.model.Choocheck">

    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="clasId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="stuId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="applyTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="pass" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from t_choo_check
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmdbms.model.Choocheck">

    insert into t_choo_check (id, clasId, stuId, 
      applyTime, pass)
    values (#{id,jdbcType=INTEGER}, #{clasId,jdbcType=INTEGER}, #{stuId,jdbcType=INTEGER}, 
      #{applyTime,jdbcType=TIMESTAMP}, #{pass,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmdbms.model.Choocheck">

    update t_choo_check
    set clasId = #{clasId,jdbcType=INTEGER},
      stuId = #{stuId,jdbcType=INTEGER},
      applyTime = #{applyTime,jdbcType=TIMESTAMP},
      pass = #{pass,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select id, clasId, stuId, applyTime, pass
    from t_choo_check
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">

    select id, clasId, stuId, applyTime, pass
    from t_choo_check
  </select>


  <select id="selApplTimeByClaIdAndStuId" parameterType="java.lang.Integer"  resultType="java.sql.Timestamp">

    SELECT A.applytime
    FROM t_choose_course A
    WHERE A.classId = #{classId,jdbcType=INTEGER} and A.stuID = #{StudentId,jdbcType=INTEGER}
  </select>

  <select id="selChoCourIdByClaIdAndStuId" parameterType="java.lang.Integer"  resultType="java.lang.Integer">

    SELECT A.id
    FROM t_choo_check A
    WHERE A.clasId = #{classId,jdbcType=INTEGER} and A.stuID = #{StudentId,jdbcType=INTEGER}
  </select>

  <select id="selChooseIdByClaIdAndStuId" parameterType="java.lang.Integer"  resultType="java.lang.Integer">

    SELECT A.id
    FROM t_choose_course A
    WHERE A.classId = #{classId,jdbcType=INTEGER} and A.stuID = #{StudentId,jdbcType=INTEGER}
  </select>


  <select id="selectInfoByStuId" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    SELECT *
    FROM t_choo_check A
    WHERE A.stuId = #{stuId,jdbcType=INTEGER} and A.pass=0
  </select>


  <!--别再删了，考试管理要用-->
  <select id="selectstuId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select stuId
    from t_choo_check
    where clasId = #{clasId,jdbcType=INTEGER}
  </select>

  <!--学生管理用-->
  <select id="selectpass" parameterType="map" resultMap="BaseResultMap">
    select id, clasId, stuId, applyTime, pass
    from t_choo_check
    where stuId = #{stuId,jdbcType=INTEGER}
  </select>

  <select id="selectclasId" parameterType="map" resultType="java.lang.Integer">
    select clasId
    from t_choo_check
    where stuId = #{stuId,jdbcType=INTEGER}
  </select>

  <select id="selectAlls" parameterType="map" resultType="java.lang.Integer">
    select clasId
    from t_choo_check
    where stuId = #{stuId,jdbcType=INTEGER} and
    pass = #{pass,jdbcType=BIT}
  </select>
</mapper>