<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmdbms.mapper.ClubnumberMapper">
  <resultMap id="BaseResultMap" type="com.cmdbms.model.Clubnumber">

    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="studentId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="clubId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="joinTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="exitTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="clubPositionId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="joinApplication" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="exitApplication" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="voteStatus" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from t_club_number
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmdbms.model.Clubnumber">

    insert into t_club_number (id, studentId, clubId, 
      joinTime, exitTime, clubPositionId, 
      joinApplication, exitApplication, voteStatus
      )
    values (#{id,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, #{clubId,jdbcType=INTEGER}, 
      #{joinTime,jdbcType=TIMESTAMP}, #{exitTime,jdbcType=TIMESTAMP}, #{clubPositionId,jdbcType=INTEGER}, 
      #{joinApplication,jdbcType=BIT}, #{exitApplication,jdbcType=BIT}, #{voteStatus,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmdbms.model.Clubnumber">

    update t_club_number
    set studentId = #{studentId,jdbcType=INTEGER},
      clubId = #{clubId,jdbcType=INTEGER},
      joinTime = #{joinTime,jdbcType=TIMESTAMP},
      exitTime = #{exitTime,jdbcType=TIMESTAMP},
      clubPositionId = #{clubPositionId,jdbcType=INTEGER},
      joinApplication = #{joinApplication,jdbcType=BIT},
      exitApplication = #{exitApplication,jdbcType=BIT},
      voteStatus = #{voteStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select id, studentId, clubId, joinTime, exitTime, clubPositionId, joinApplication, 
    exitApplication, voteStatus
    from t_club_number
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">

    select id, studentId, clubId, joinTime, exitTime, clubPositionId, joinApplication, 
    exitApplication, voteStatus
    from t_club_number
  </select>
  <select id="selectByStudentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select id, studentId, clubId, joinTime, exitTime, clubPositionId, joinApplication,
    exitApplication, voteStatus
    from t_club_number
    <if test="studentId!=0">
      <where>
        studentId = #{studentId,jdbcType=INTEGER}
      </where>
    </if>
  </select>
  <select id="updateById" resultType="java.lang.Integer">

    update t_club_number
    <set>
      clubId = #{clubId,jdbcType=INTEGER},
      clubPositionId = #{clubPositionId,jdbcType=INTEGER}
    </set>
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="ApplicationList" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select id, studentId, clubId, joinTime, exitTime, clubPositionId, joinApplication,
    exitApplication, voteStatus
    from t_club_number
    <if test="appState == 0">
      <where>
        joinApplication = 1 and exitApplication = 1
      </where>
    </if>
    <if test="appState == 1">
      <where>
        joinApplication = 0 and exitApplication = 0
      </where>
    </if>
  </select>
  <update id="joinAuditing" parameterType="java.lang.Integer">

    update t_club_number
    set joinApplication = 1
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="exitAuditing" parameterType="java.lang.Integer">

    update t_club_number
    set joinApplication = 0
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>