<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmdbms.mapper.ExamgradeMapper">
  <resultMap id="BaseResultMap" type="com.cmdbms.model.Examgrade">

    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="gradeStuId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="gradeSubId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="gradeStu" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="gradeSubName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="gradeLimit" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="gradeJudge" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="gradeAlterTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="gradeViolate" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="gradeReview" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="gradeMajor" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <arg column="gradeYear" javaType="java.lang.Integer" jdbcType="INTEGER"/>
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">

    delete from t_exam_grade
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmdbms.model.Examgrade">

    insert into t_exam_grade (id, gradeStuId, gradeSubId, 
      gradeSubName, gradeMajor, gradeYear
      )
    values (#{id,jdbcType=INTEGER}, #{gradeStuId,jdbcType=INTEGER}, #{gradeSubId,jdbcType=INTEGER}, 
      #{gradeSubName,jdbcType=VARCHAR}, #{gradeMajor,jdbcType=VARCHAR}, #{gradeYear,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmdbms.model.Examgrade">
    update t_exam_grade
    <set>  <if test="gradeStu != null">gradeStu = #{gradeStu,jdbcType=INTEGER},</if>
      <if test="gradeLimit != null">gradeLimit = #{gradeLimit,jdbcType=DATE},</if>
      <if test="gradeJudge != null">gradeJudge = #{gradeJudge,jdbcType=INTEGER},</if>
      <if test="gradeViolate != null">gradeViolate = #{gradeViolate,jdbcType=INTEGER},</if>
      <if test="gradeReview != null">gradeReview = #{gradeReview,jdbcType=INTEGER}</if></set>
    where id = #{id,jdbcType=INTEGER}
      and gradeStuId = #{gradeStuId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">

    select id, gradeStuId, gradeSubId, gradeStu, gradeSubName, gradeLimit, gradeJudge, 
    gradeAlterTime, gradeViolate, gradeReview, gradeMajor, gradeYear
    from t_exam_grade
    where id = #{id,jdbcType=INTEGER}
      and gradeStuId = #{gradeStuId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">

    select id, gradeStuId, gradeSubId, gradeStu, gradeSubName, gradeLimit, gradeJudge, 
    gradeAlterTime, gradeViolate, gradeReview, gradeMajor, gradeYear
    from t_exam_grade
  </select>

  <select id="selectgradeSub" parameterType="map" resultType="java.lang.Integer">
    select gradeSubId
    from t_exam_grade
    where id = #{id,jdbcType=INTEGER}
      and gradeStuId = #{gradeStuId,jdbcType=INTEGER}
  </select>

  <select id="selectgradeSubName" parameterType="map" resultType="java.lang.String">
    select gradeSubName
    from t_exam_grade
    where id = #{id,jdbcType=INTEGER}
      and gradeStuId = #{gradeStuId,jdbcType=INTEGER}
  </select>

  <select id="selectstugrade"  resultMap="BaseResultMap">
    select id, gradeStuId, gradeSubId, gradeStu, gradeSubName, gradeLimit, gradeJudge,
    gradeAlterTime, gradeViolate, gradeReview, gradeMajor, gradeYear
    from t_exam_grade
    <where><if test="gradeStuId != null and gradeStuId !=''">gradeStuId = #{gradeStuId,jdbcType=INTEGER}</if> </where>
  </select>
  <select id="selectgrade" parameterType="map" resultMap="BaseResultMap">
    select id, gradeStuId, gradeSubId, gradeStu, gradeSubName, gradeLimit, gradeJudge,
    gradeAlterTime, gradeViolate, gradeReview, gradeMajor, gradeYear
    from t_exam_grade
     <where> gradeStuId = #{gradeStuId,jdbcType=INTEGER}
       <if test="gradeMajor!=0">and gradeMajor = #{gradeMajor,jdbcType=VARCHAR} </if>
       <if test="gradeYear!= null and gradeYear!=''">and gradeYear = #{gradeYear,jdbcType=INTEGER}</if>
      </where>
  </select>
</mapper>