<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmdbms.mapper.ExamstuarrangeMapper">
  <resultMap id="BaseResultMap" type="com.cmdbms.model.Examstuarrange">

    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="stuexamStuId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="stuexamSubId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="stuexamClrId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="stuexamDate" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="stuexamTime" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="stuexamClrName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stuexamSubName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stuexamYear" javaType="java.lang.Integer" jdbcType="INTEGER"/>
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">

    delete from t_exam_stuarrange
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmdbms.model.Examstuarrange">

    insert into t_exam_stuarrange (id, stuexamStuId, stuexamSubId, 
      stuexamClrId, stuexamDate, stuexamTime, 
      stuexamClrName, stuexamSubName,stuexamYear
      )
    values (#{id,jdbcType=INTEGER}, #{stuexamStuId,jdbcType=INTEGER}, #{stuexamSubId,jdbcType=INTEGER}, 
      #{stuexamClrId,jdbcType=INTEGER}, #{stuexamDate,jdbcType=DATE}, #{stuexamTime,jdbcType=INTEGER}, 
      #{stuexamClrName,jdbcType=VARCHAR}, #{stuexamSubName,jdbcType=VARCHAR}, #{stuexamYear,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmdbms.model.Examstuarrange">

    update t_exam_stuarrange
    <set> <if test="stuexamClrId != null"> stuexamClrId = #{stuexamClrId,jdbcType=INTEGER},</if>
      <if test="stuexamDate != null"> stuexamDate = #{stuexamDate,jdbcType=DATE},</if>
      <if test="stuexamTime != null"> stuexamTime = #{stuexamTime,jdbcType=INTEGER},</if>
      <if test="stuexamClrName != null"> stuexamClrName = #{stuexamClrName,jdbcType=VARCHAR}</if></set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">

    select id, stuexamStuId, stuexamSubId, stuexamClrId, stuexamDate, stuexamTime, stuexamClrName, 
    stuexamSubName, stuexamYear
    from t_exam_stuarrange
    <where><if test="id != null and id !=''"> id = #{id,jdbcType=INTEGER}</if>
      <if test="stuexamStuId != null and stuexamStuId !=''"> and stuexamStuId = #{stuexamStuId,jdbcType=INTEGER}</if></where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">

    select id, stuexamStuId, stuexamSubId, stuexamClrId, stuexamDate, stuexamTime, stuexamClrName, 
    stuexamSubName, stuexamYear
    from t_exam_stuarrange
  </select>

  <select id="selectStuexam" parameterType="map" resultMap="BaseResultMap">
    select id, stuexamStuId, stuexamSubId, stuexamClrId, stuexamDate, stuexamTime, stuexamClrName,
    stuexamSubName, stuexamYear
    from t_exam_stuarrange
    where stuexamStuId = #{stuexamStuId,jdbcType=INTEGER}
  </select>
</mapper>