<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmdbms.mapper.ExamarrangeMapper">
  <resultMap id="BaseResultMap" type="com.cmdbms.model.Examarrange">

    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="examSubId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="examDate" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="examTime" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="examClassroomId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="examClrName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="examSubName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="examYear" javaType="java.lang.Integer" jdbcType="INTEGER"/>
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from t_exam_arrange
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmdbms.model.Examarrange">

    insert into t_exam_arrange (id, examSubId, examDate, 
      examTime, examClassroomId, examClrName, 
      examSubName,examYear)
    values (#{id,jdbcType=INTEGER}, #{examSubId,jdbcType=INTEGER}, #{examDate,jdbcType=DATE}, 
      #{examTime,jdbcType=INTEGER}, #{examClassroomId,jdbcType=INTEGER}, #{examClrName,jdbcType=VARCHAR}, 
      #{examSubName,jdbcType=VARCHAR},#{examYear,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmdbms.model.Examarrange">

    update t_exam_arrange
    <set><if test="examDate != null"> examDate = #{examDate,jdbcType=DATE},</if>
      <if test="examTime != null">examTime = #{examTime,jdbcType=INTEGER},</if>
      <if test="examClassroomId != null">examClassroomId = #{examClassroomId,jdbcType=INTEGER},</if>
      <if test="examClrName != null">examClrName = #{examClrName,jdbcType=VARCHAR}</if></set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select id, examSubId, examDate, examTime, examClassroomId, examClrName, examSubName,examYear
    from t_exam_arrange
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">

    select id, examSubId, examDate, examTime, examClassroomId, examClrName, examSubName,examYear
    from t_exam_arrange
  </select>
</mapper>