<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmdbms.mapper.FinancialwageMapper">
  <resultMap id="BaseResultMap" type="com.cmdbms.model.Financialwage">

    <constructor>
      <idArg column="teaId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="teaName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="teaPosition" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="teaTt" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="teaWages" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="teaBonus" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="teaFine" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="teaMoney" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="teaState" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from t_financial_wage
    where teaId = #{teaId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmdbms.model.Financialwage">

    insert into t_financial_wage (teaId, teaName, teaPosition, 
      teaTt, teaWages, teaBonus, 
      teaFine, teaMoney, teaState
      )
    values (#{teaId,jdbcType=INTEGER}, #{teaName,jdbcType=VARCHAR}, #{teaPosition,jdbcType=VARCHAR}, 
      #{teaTt,jdbcType=VARCHAR}, #{teaWages,jdbcType=VARCHAR}, #{teaBonus,jdbcType=VARCHAR}, 
      #{teaFine,jdbcType=VARCHAR}, #{teaMoney,jdbcType=VARCHAR}, #{teaState,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmdbms.model.Financialwage">

    update t_financial_wage
    set teaName = #{teaName,jdbcType=VARCHAR},
      teaPosition = #{teaPosition,jdbcType=VARCHAR},
      teaTt = #{teaTt,jdbcType=VARCHAR},
      teaWages = #{teaWages,jdbcType=VARCHAR},
      teaBonus = #{teaBonus,jdbcType=VARCHAR},
      teaFine = #{teaFine,jdbcType=VARCHAR},
      teaMoney = #{teaMoney,jdbcType=VARCHAR},
      teaState = #{teaState,jdbcType=VARCHAR}
    where teaId = #{teaId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select teaId, teaName, teaPosition, teaTt, teaWages, teaBonus, teaFine, teaMoney, 
    teaState
    from t_financial_wage
    where teaId = #{teaId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">

    select teaId, teaName, teaPosition, teaTt, teaWages, teaBonus, teaFine, teaMoney, 
    teaState
    from t_financial_wage
  </select>
</mapper>