<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmdbms.mapper.OutputMapper">
  <resultMap id="BaseResultMap" type="com.cmdbms.model.Output">

    <constructor>
      <idArg column="outputId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="outputStoId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="outputTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="outputPlace" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="outputMan" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="outputNum" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from t_output
    where outputId = #{outputId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmdbms.model.Output">

    insert into t_output (outputId, outputStoId,
      outputPlace, outputMan, outputNum
      )
    values (#{outputId,jdbcType=INTEGER}, #{outputStoId,jdbcType=INTEGER},
      #{outputPlace,jdbcType=VARCHAR}, #{outputMan,jdbcType=VARCHAR}, #{outputNum,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmdbms.model.Output">

    update t_output
    set outputStoId = #{outputStoId,jdbcType=INTEGER},
      outputTime = #{outputTime,jdbcType=TIMESTAMP},
      outputPlace = #{outputPlace,jdbcType=VARCHAR},
      outputMan = #{outputMan,jdbcType=VARCHAR},
      outputNum = #{outputNum,jdbcType=INTEGER}
    where outputId = #{outputId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select outputId, outputStoId, outputTime, outputPlace, outputMan, outputNum
    from t_output
    where outputId = #{outputId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">

    select outputId, outputStoId, outputTime, outputPlace, outputMan, outputNum
    from t_output
  </select>
</mapper>