<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmdbms.mapper.StaffmsgMapper">
  <resultMap id="BaseResultMap" type="com.cmdbms.model.Staffmsg">

    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="gender" javaType="byte" jdbcType="BIT" />
      <arg column="birthday" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="idCard" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="eduBackground" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="mail" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="entryTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
      <arg column="politicalStatus" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="salaryLevel" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select id, name, gender, birthday, idCard, eduBackground, phone, mail, address,
    politicalStatus, salaryLevel
    from t_staff_msg
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from t_staff_msg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmdbms.model.Staffmsg">

    insert into t_staff_msg (id, name, gender, 
      birthday, idCard, eduBackground, 
      phone, mail, address, 
      entryTime, politicalStatus, salaryLevel
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=BIT}, 
      #{birthday,jdbcType=INTEGER}, #{idCard,jdbcType=VARCHAR}, #{eduBackground,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{entryTime,jdbcType=TIMESTAMP}, #{politicalStatus,jdbcType=VARCHAR}, #{salaryLevel,jdbcType=INTEGER}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.cmdbms.model.Staffmsg">

    update t_staff_msg
    set name = #{name,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=INTEGER},
      idCard = #{idCard,jdbcType=VARCHAR},
      eduBackground = #{eduBackground,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      politicalStatus = #{politicalStatus,jdbcType=VARCHAR},
      salaryLevel = #{salaryLevel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed May 29 11:15:17 CST 2019.
    -->
    select id, name, gender, birthday, idCard, eduBackground, phone, mail, address,
    politicalStatus, salaryLevel
    from t_staff_msg
  </select>

  <select id="selectTeaId" parameterType="java.lang.String" resultType="int">
    <!--
       通过老师的名字查找老师的ID
     -->
    SELECT id
    FROM t_staff_msg A
    WHERE A.`name` = #{name,jdbcType=VARCHAR};
  </select>

  <select id="selectNamefromId" parameterType="java.lang.Integer" resultType="string">
    SELECT A.`name`
  FROM t_staff_msg A
  WHERE A.id = #{id,jdbcType=INTEGER};
  </select>

  <select id="selectGenderfromId" resultType="byte">
    SELECT A.gender
  FROM t_staff_msg A
  WHERE A.id = #{id,jdbcType=INTEGER};
  </select>

  <select id="selectIdCardfromId" resultType="string">
    SELECT A.idCard
      FROM t_staff_msg A
  WHERE A.id = #{id,jdbcType=INTEGER};
  </select>

  <select id="selectPoliticalfromId" resultType="string">
    SELECT A.politicalStatus
  FROM t_staff_msg A
  WHERE A.id = #{id,jdbcType=INTEGER};
  </select>

  <select id="selectEntryTimefromId" resultType="string">
    SELECT A.entryTime
  FROM t_staff_msg A
  WHERE A.id = #{id,jdbcType=INTEGER};
  </select>

  <select id="selectAddressfromId" resultType="string">
    SELECT A.address
  FROM t_staff_msg A
  WHERE A.id = #{id,jdbcType=INTEGER};
  </select>

  <select id="selectMailfromId" resultType="string">
    SELECT A.mail
  FROM t_staff_msg A
  WHERE A.id = #{id,jdbcType=INTEGER};
  </select>


  <select id="selectPhonefromId" resultType="string">
    SELECT A.phone
  FROM t_staff_msg A
  WHERE A.id = #{id,jdbcType=INTEGER};
  </select>

  <select id="selectEduBackgroundfromId" resultType="string">
    SELECT A.eduBackground
  FROM t_staff_msg A
  WHERE A.id = #{id,jdbcType=INTEGER};
  </select>

<select id="selectSalaryLevfromId" resultType="integer">
    SELECT A.salaryLevel
  FROM t_staff_msg A
  WHERE A.id = #{id,jdbcType=INTEGER};
  </select>

  <select id="selectBrithday" resultType="integer">
    SELECT A.birthday
  FROM t_staff_msg A
  WHERE A.id = #{id,jdbcType=INTEGER};
  </select>

  <select id="selectId" resultType="integer">
    SELECT A.id
    FROM t_staff_msg A
    WHERE A.id = #{id,jdbcType=INTEGER};
  </select>


</mapper>