<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmdbms.mapper.StudentmsgMapper">
  <resultMap id="BaseResultMap" type="com.cmdbms.model.Studentmsg">

    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="grade" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sex" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="birthday" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="nativePlace" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="idType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="idNunber" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="parentPhone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="folk" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="politicalSt" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from t_student_msg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmdbms.model.Studentmsg">

    insert into t_student_msg (id, `name`, grade,
      sex, birthday, nativePlace, 
      idType, idNunber, phone, 
      parentPhone, folk, politicalSt
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{grade,jdbcType=INTEGER}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{nativePlace,jdbcType=VARCHAR}, 
      #{idType,jdbcType=VARCHAR}, #{idNunber,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{parentPhone,jdbcType=VARCHAR}, #{folk,jdbcType=VARCHAR}, #{politicalSt,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmdbms.model.Studentmsg">

    update t_student_msg
    set name = #{name,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      nativePlace = #{nativePlace,jdbcType=VARCHAR},
      idType = #{idType,jdbcType=VARCHAR},
      idNunber = #{idNunber,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      parentPhone = #{parentPhone,jdbcType=VARCHAR},
      folk = #{folk,jdbcType=VARCHAR},
      politicalSt = #{politicalSt,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select id, `name`, grade, sex, birthday, nativePlace, idType, idNunber, phone, parentPhone,
    folk, politicalSt
    from t_student_msg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">

    select id, `name`, grade, sex, birthday, nativePlace, idType, idNunber, phone, parentPhone,
    folk, politicalSt
    from t_student_msg
  </select>
</mapper>