<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmdbms.mapper.StugradeMapper">
  <resultMap id="BaseResultMap" type="com.cmdbms.model.Stugrade">

    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="gradeStuId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="gradeSubId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="gradeStu" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="gradeLimit" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="gradeJudge" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="gradeAlterTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="gradeViolate" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from t_stu_grade
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmdbms.model.Stugrade">

    insert into t_stu_grade (id, gradeStuId, gradeSubId, 
      gradeStu, gradeLimit, gradeJudge, 
      gradeAlterTime, gradeViolate)
    values (#{id,jdbcType=INTEGER}, #{gradeStuId,jdbcType=INTEGER}, #{gradeSubId,jdbcType=INTEGER}, 
      #{gradeStu,jdbcType=INTEGER}, #{gradeLimit,jdbcType=TIMESTAMP}, #{gradeJudge,jdbcType=BIT}, 
      #{gradeAlterTime,jdbcType=TIMESTAMP}, #{gradeViolate,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmdbms.model.Stugrade">

    update t_stu_grade
    set gradeStuId = #{gradeStuId,jdbcType=INTEGER},
      gradeSubId = #{gradeSubId,jdbcType=INTEGER},
      gradeStu = #{gradeStu,jdbcType=INTEGER},
      gradeLimit = #{gradeLimit,jdbcType=TIMESTAMP},
      gradeJudge = #{gradeJudge,jdbcType=BIT},
      gradeAlterTime = #{gradeAlterTime,jdbcType=TIMESTAMP},
      gradeViolate = #{gradeViolate,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select id, gradeStuId, gradeSubId, gradeStu, gradeLimit, gradeJudge, gradeAlterTime, 
    gradeViolate
    from t_stu_grade
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">

    select id, gradeStuId, gradeSubId, gradeStu, gradeLimit, gradeJudge, gradeAlterTime, 
    gradeViolate
    from t_stu_grade
  </select>
</mapper>