<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmdbms.mapper.WaterMapper">
  <resultMap id="BaseResultMap" type="com.cmdbms.model.Water">

    <constructor>
      <idArg column="watId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="watPlace" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="watQuantity" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="watMonth" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="watYear" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="watPlaceType" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from t_water
    where watId = #{watId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmdbms.model.Water">

    insert into t_water (watId, watPlace, watQuantity, 
      watMonth, watYear, watPlaceType
      )
    values (#{watId,jdbcType=INTEGER}, #{watPlace,jdbcType=VARCHAR}, #{watQuantity,jdbcType=DECIMAL}, 
      #{watMonth,jdbcType=INTEGER}, #{watYear,jdbcType=INTEGER}, #{watPlaceType,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmdbms.model.Water">

    update t_water
    set watPlace = #{watPlace,jdbcType=VARCHAR},
      watQuantity = #{watQuantity,jdbcType=DECIMAL},
      watMonth = #{watMonth,jdbcType=INTEGER},
      watYear = #{watYear,jdbcType=INTEGER},
      watPlaceType = #{watPlaceType,jdbcType=VARCHAR}
    where watId = #{watId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap">

    select watId, watPlace, watQuantity, watMonth, watYear, watPlaceType
    from t_water
    where watPlace = #{watPlace,jdbcType=VARCHAR} and
    watMonth = #{watMonth,jdbcType=INTEGER} and
    watYear = #{watYear,jdbcType=INTEGER} and
    watPlaceType = #{watPlaceType,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">

    select watId, watPlace, watQuantity, watMonth, watYear, watPlaceType
    from t_water
  </select>
</mapper>